@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
*{
  font-family: "Kdam Thmor Pro", sans-serif;
}
.userCont {
    margin-top: 10%;
  }
  
  .userCont h1 {
    text-align: center;
  }
  
  .userDiv {
    margin: 0 auto;
    margin-top: 2%;
    background-color: #222;
    width: 60%; 
    padding: 10px; 
  }
  
  table {
    margin: 0 auto;
    width: 100%; 
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px; 
    text-align: center;
  }

  td{
    padding: 2% 1%;
  }

  tr{
    transition: .2s;
  }

  tr:hover{
    background-color: black;
  }

  thead {
    background-color: #444; 
    color: #fff;
  }
  

  
  button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    display: block; 
    margin: 0 auto;
  }
.searchInput{
  width: 40%;
  height: 30px;
  margin: 0 auto;
  margin-left: 30%;
}