@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
*{
    font-family: "Kdam Thmor Pro", sans-serif;

}
.contenedorLicense{
    position: relative;
    left: 10%;
    margin-top: 7%;
    width: 80vw;
    height: 50vh;
    background: rgba( 34, 34, 34, 0.35 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius:10px;
}

.contenedorLicense h1{
text-align: center;
}
.contenedorLicense form{
    position: absolute;
    top: 35%;
    left: 10%;
    background-color: black;
    width: 80%;
    height: 20vh;
    border-radius: 10px;
}

.formContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* .totoroto2{
    position: relative;
    top: 45%;
    left: 10%;
} */
.totoroto2 input{
  height: 40px;
  margin-right: 20px;
}
.totoroto2 select {
  height: 40px;
  margin-left: 20px;
}
.totoroto2 button{
  margin-left: 20px;
  height: 40px;
  width: 120px;
  background-color: #FF9301;
  border: none
}
.totoroto2 button:hover{
  background-color: #3333;
}

.inputPostL{
  width: 253px;
}

.backButton2{
  position: absolute;
  bottom: 92%;
  left: 1.5%;
  transform: scale(1.5);
  transition: all .3s;
  color: black;
  background-color: #fff;
  border: none;
  padding: 1px 10px;
  border-radius: 10%;
}

.backButton2:hover{
  background-color: black;
  color: #fff;
  border: none;
}